server {
    listen 80;

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location /specialpath/ {
        alias /usr/share/nginx/html/specialpath/;
        # TODO: Make flag.txt accessible to curl only
    }

    location /instructions {
        default_type text/plain;
        return 200 "A group of hackers, 'The ECI,' has compromised a classified IIUM project. As cybersecurity operatives, your mission is to retrieve a secret key hidden within their system. Intelligence found that one of the hackers made a newbie mistake and left some unintended information on their GitHub. Use OSINT techniques to investigate their GitHub, gather the necessary details, and access the secret key! The newbie hacker's name is Syamil Yusof.";
    }
}
